# 機械学習実習 第一課題 (第3週から第5週:Python の使い方)

#### 1) リスト の append と extend は何が違うか.実例を挙げて説明せよ

append
- list.append(x) リストの末尾に要素を一つ追加

extend
- list.extend(iterable) イテラブルのすべての要素を対象のリストに追加し、リストを拡張

実例

In [27]:
fruitsA=["apple","mikan"]
fruitsE=["apple","mikan"]
#文字列 イテラブル(反復可能オブジェクト)
fruit = "banana" 

#リストの末尾に文字列が追加される
fruitsA.append(fruit)

# 文字列fruitは、イテラブルなので展開されて１要素ずつリストに追加される。
fruitsE.extend(fruit)

fruitsA,fruitsE

(['apple', 'mikan', 'banana'],
 ['apple', 'mikan', 'b', 'a', 'n', 'a', 'n', 'a'])

In [28]:
fruitsA=["apple","mikan"]
fruitsE=["apple","mikan"]
#リスト イテラブル(反復可能オブジェクト)
newFruits=["orange","kiwi"] 

# リストの末尾にリストが展開されずに追加される
fruitsA.append(newFruits)
# リストnewFruitsはイテラブルなので１要素ずつリストに追加される
fruitsE.extend(newFruits)
fruitsA,fruitsE

(['apple', 'mikan', ['orange', 'kiwi']], ['apple', 'mikan', 'orange', 'kiwi'])

#### 2) 成績を記入した pandas のデータフレーム score がある.

In [3]:
import pandas as pd

score =pd.DataFrame([ ["浅田",79,3,33],["今川",75,70,22],["宇佐",49,89,65],["江田",99,47,5],["小野",96,29,36],["加納",94,88,45],["岸辺",48,17,19],["倉田",21,67,100],["剣持",88,8,36]],columns=['名前','こくご','さんすう','えいご'])

In [4]:
score

   名前  こくご  さんすう  えいご
0  浅田   79     3   33
1  今川   75    70   22
2  宇佐   49    89   65
3  江田   99    47    5
4  小野   96    29   36
5  加納   94    88   45
6  岸辺   48    17   19
7  倉田   21    67  100
8  剣持   88     8   36

##### a) score を入力とし，第一正規型に変換する関数をかけ

In [5]:
# score: pd.DataFrame([[],...],columns=['名前','classA'...])
def firstNormalize(score):
    scores=[]
    for index , item in score.iterrows():
        for i in range(len(item)-1):
            scores.append([item[0],score.columns[i+1],item[i+1]])
    return pd.DataFrame(scores,columns=['名前','科目名','点数'])

In [6]:
firstNormalize(score)

    名前   科目名   点数
0   浅田   こくご   79
1   浅田  さんすう    3
2   浅田   えいご   33
3   今川   こくご   75
4   今川  さんすう   70
5   今川   えいご   22
6   宇佐   こくご   49
7   宇佐  さんすう   89
8   宇佐   えいご   65
9   江田   こくご   99
10  江田  さんすう   47
11  江田   えいご    5
12  小野   こくご   96
13  小野  さんすう   29
14  小野   えいご   36
15  加納   こくご   94
16  加納  さんすう   88
17  加納   えいご   45
18  岸辺   こくご   48
19  岸辺  さんすう   17
20  岸辺   えいご   19
21  倉田   こくご   21
22  倉田  さんすう   67
23  倉田   えいご  100
24  剣持   こくご   88
25  剣持  さんすう    8
26  剣持   えいご   36

##### b)score を入力とし，科目ごとの平均点，各人の平均点を 出力する関数を書け.その動作も記せ

In [19]:
# score: pd.DataFrame([[],...],columns=['名前','classA'...])
# return: [[class1Average,...],[people1Average,...]]
def getScoreAverages(score):
    classScores=[0,0,0]
    peopleScores=[]
    for index , item in score.iterrows():
        # 国語、算数、英語
        peopleScores.append((item[1]+item[2]+item[3])/3)
        classScores[0]= classScores[0]+item[1]
        classScores[1]= classScores[1]+item[2]
        classScores[2]= classScores[2]+item[3]
    classScores[0] = classScores[0] / len(peopleScores)
    classScores[1] = classScores[1] / len(peopleScores)
    classScores[2] = classScores[2] / len(peopleScores)
    return [classScores,peopleScores]

In [20]:
getScoreAverages(score)

[[72.11111111111111, 46.44444444444444, 40.111111111111114],
 [38.333333333333336,
  55.666666666666664,
  67.66666666666667,
  50.333333333333336,
  53.666666666666664,
  75.66666666666667,
  28.0,
  62.666666666666664,
  44.0]]

##### c) normalized を入力とし，科目ごとの平均点，各人の 平均点を出力する関数を書け.その動作も記せ

##### d)さんすうが x 点以上の人数を出力する関数をかけ. その動作も記せ

##### e) score に総合点の列を加えるスクリプトをかけ.

##### f) 総合点の降順に並び替え，変数 final に格納せよ.

##### g)scoreをグラフ化せよ.#matplotlib.pyplot 以外を利用し ても良い.

##### h) 次の3つのメソッドの違いを説明せよ. Pandas のメソッド apply, applymap， Pandas.Series のメソッド map

In [ ]:
apply

In [ ]:
applymap

In [ ]:
map

#### 3) 引数を1つ持つ関数 fib(n) は，以下の式で定義される an を出力する.

##### a1 =1,a2 =1, an =an-1 +an-2 (n>2)
関数 fib(n) を実装せよ.

#### 4) 拡張課題: 以下のプログラムを作成せよ.

a) 地球上の2点間の距離を求める関数を作成せよ.
関数名: dist
引数: x,y
x と y の間の距離を求める

##### b)出発地と目的地の二列からなるCSVファイルを読み込み，距離の列を追加する関数を関数 dist を使って書け

##### c) 上記関数 dist や 2)で作成した関数を使った応用事例を提示し，結果を示せ.なお，できる限りプログラムで処理すること.